@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");

/* ---------- nav bar desktop ----------- */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: #000;
}
nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between; /* possibly change to space-around */
  align-items: center;
  min-height: 8vh;
  background-color: black;
  font-family: "Poppins", sans-serif;
  padding: 20px;
}

.logo {
  color: rgb(226, 224, 224);
  text-decoration: none;
  font-family: "Crimson Pro";
  text-transform: uppercase;
  font-size: 12px;
  border: 1px solid white;
  padding: 10px;
  letter-spacing: 1px;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 50%;
}
.nav-links li {
  list-style: none;
}
.nav-links a {
  text-decoration: none;
  color: #fff;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
}

.burger {
  display: none;
}
.burger div {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px;
  transition: all 0.3s ease;
}
/* end of mobile first navbar */

.body-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 8em;
  justify-content: space-around;
}
.box1 {
  flex: 0.3;
  height: auto;
  border: 1px solid yellow;
  width: 100%;
  padding: 20px;
}
.box1 > div > h1 {
  font-weight: 200;
  font-size: 48px;
  padding-bottom: 20px;
  color: #fff;
}
.box1 > div > p {
  font-size: 24px;
  border: 1px solid blue;
  color: #fff;
  font-family: "Montserrat";
}
.read-link {
  color: white;
  text-decoration: none;
  transition: all 1s ease-in-out;
}
.arrow {
  vertical-align: top;
}

.box2 {
  flex: 0.6;
  width: 100%;
  border: 1px solid green;
  padding: 20px;
}
.image {
  width: 100%;
  height: auto;
}

.card {
  color: blue;
  position: relative;
  top: 0px;
  right: 60px;
  left: 50px;
  display: flex;
  background-color: black;
  height: 138px;
  width: 60%;
  border: 1px solid white;
  padding: 5px;
}
.card-photo {
  flex: 1;
  border-radius: 50%;
  max-width: 62px;
  max-height: 52px;
  margin: 10px;
}
.card-text {
  flex: 2;
  padding: 15px 10px 0 10px;
}
.card-name {
  color: #fff;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 12px;
}
.card-subtitle1 {
  font-family: "Poppins";
  color: gray;
  font-size: 12px;
  width: 142px;
}
.card-subtitle2 {
  font-family: "Lora";
  font-weight: 700;
  font-size: 18px;
  margin-top: 1em;
  width: 180px;
}

footer > p {
  color: white;
  text-align: center;
  align-items: center;
  font-family: "Poppins";
}

@media screen and (max-width: 768px) {
  /* nav bar for mobile  */

  body {
    overflow-x: hidden;
  }
  .nav-links {
    position: fixed;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%); /* moves it off screen */
    transition: transform 0.3s ease-in;
  }
  .nav-links li {
    opacity: 0;
  }
  .burger {
    display: block;
    cursor: pointer;
  }

  .nav-active {
    transform: translateX(0%);
  }

  /* animation for mobile nav */
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }

  /* burger line animation */
  .toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  .toggle .line2 {
    opacity: 0;
  }
  .toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }
  /* end of mobile nav bar */

  .body-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    height: auto;
    margin-top: 10em;
    border: 1px solid red;
  }
  .box1 {
    flex: 1;
    width: 100%;
    height: auto;
    flex-basis: auto;
    color: white;
    /* border: 1px solid red; */
    margin-bottom: 2em;
  }
  .box1 > div > h1 {
    font-family: "Lora";
    font-style: normal;
    font-weight: 200;
    font-size: 48px;
    line-height: 61px;
    padding-bottom: 10px;
  }
  .box1 > div > p {
    color: white;
    font-family: "Montserrat";
    width: 60%;
    line-height: 29px;
    font-size: 18px;
    font-weight: 100;
    font-style: normal;
    border: 1px red solid;
  }
  .read-link {
    text-decoration: none;
    color: white;
  }
  .read-link:hover {
    color: goldenrod;
  }
  .arrow {
    vertical-align: top;
  }
  .box2 {
    order: 2;
    width: 100%;
    height: auto;
    /* border: 1px solid red; */
    margin-bottom: 10em;
    /* position: relative; */
  }
  .card {
    color: blue;
    top: 5px;
    right: 60px;
    left: 50px;
  }
}
