@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");

/* ---------- mobile nav bar first ----------- */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.navbar {
  font-size: 18px;
  background-color: #181719;
  padding-bottom: 10px;
  font-family: "Montserrat";
}

.main-nav {
  list-style-type: none;
  display: none;
  position: absolute;
  width: 94%;
}

.nav-links {
  text-decoration: none;
  color: #fff;
  font-family: "Montserrat";
  font-weight: 700;
}

.nav-links:hover,
.logo:hover {
  color: goldenrod;
}

.logo {
  color: #fff;
  text-decoration: none;
  font-family: "Crimson Pro";
  text-transform: uppercase;
  cursor: pointer;
}

.main-nav li {
  text-align: center;
  margin: 15px auto;
}

.logo {
  display: inline-block;
  font-size: 14px;
  border: 1px solid #fff;
  padding: 5px;
  margin-top: 10px;
  margin-left: 20px;
}

.hamburger {
  position: absolute;
  top: 30px;
  right: 20px;
  cursor: pointer;
  color: #fff;
  font-size: 24px;
  padding: 10px;
}

.active {
  display: block;
}

/* end of mobile first navbar */

body {
  font-family: "Poppins", sans-serif;
  background-color: #181719;
  padding: 20px;
}
.body-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  order: 2;
  width: 100%;
  height: auto;
  margin-top: 10em;
}
.box1 {
  flex: 1;
  width: 100%;
  height: auto;
  color: white;
  /* border: 1px solid red; */
  margin-bottom: 2em;
}
.box1 > div > h1 {
  font-family: "Lora";
  font-style: normal;
  font-weight: 200;
  font-size: 48px;
  line-height: 61px;
  padding-bottom: 10px;
}
.box1 > div > p {
  color: white;
  font-family: "Montserrat";
  line-height: 29px;
  font-size: 24px;
  font-weight: 100;
  font-style: normal;
  width: 410px;
}
.read-link {
  text-decoration: none;
  color: white;
}
.read-link:hover {
  color: goldenrod;
}
.arrow {
  vertical-align: top;
}
.box2 {
  width: 100%;
  height: auto;
  /* border: 1px solid red; */
  margin-bottom: 10em;
}

.image {
  width: 100%;
  height: auto;
}
.card {
  position: absolute;
  top: 805px;
  right: 60px;
  left: 80px;
  display: flex;
  background-color: black;
  height: 138px;
  width: 380px;
  border: 1px solid white;
  padding: 5px;
}
.card-photo {
  flex: 1;
  border-radius: 50%;
  max-width: 62px;
  max-height: 52px;
  margin: 10px;
}
.card-text {
  flex: 2;
  padding: 15px 10px 0 10px;
}
.card-name {
  color: #fff;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 12px;
}
.card-subtitle1 {
  font-family: "Poppins";
  color: gray;
  font-size: 12px;
  width: 142px;
}
.card-subtitle2 {
  font-family: "Lora";
  font-weight: 700;
  font-size: 18px;
  margin-top: 1em;
  width: 180px;
}

footer > p {
  color: white;
  text-align: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  /* nav bar for desktop second */

  .navbar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 70px;
    align-items: center;
  }

  .main-nav {
    display: flex;
    margin-right: 30px;
    flex-direction: row;
    justify-content: flex-end;
  }
  .main-nav li {
    margin: 0;
  }

  .nav-links {
    margin-left: 40px;
  }

  .logo {
    margin-top: 0;
  }

  .hamburger {
    visibility: hidden;
  }

  /* end of desktop nav bar */
  .body-container {
    margin-top: 5em;
  }
  .box1 {
    width: 500px;
    height: 300px;
  }
  .box1 > div > h1 {
    font-weight: 200;
    font-size: 48px;
    padding-bottom: 20px;
  }
  .box1 > div > p {
    font-size: 24px;
  }

  .box2 {
    width: 820px;
    height: auto;
  }

  .card {
    top: 710px;
    right: 90px;
    left: 920px;
    height: 189px;
    width: 450px;
  }

  .card-name {
    font-size: 14px;
  }
  .card-subtitle1 {
    font-size: 12px;
  }
  .card-subtitle2 {
    font-size: 26px;
    width: 250px;
  }
}
